* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

body {
    background: transparent;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}

header {
    background: #6d263e;
    padding: 20px;
    color: #f4f4f4;
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}


header ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

header ul li a:hover {
    text-decoration: underline 2px #36131f;
}

header ul li input {
    padding: 5px;
    border-radius: 10px;
}

#conteudo {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
    background: #1C1C1C;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vinhos {
    width: 200px;
    height: 400px; 
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(#652c3e,#2a0000,#48161f);
    color:#fff;
    border-radius: 30px;
}

.vinhos img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
}

.preco {
    color: #efc3cd;
    margin-top: 7px;
    font-size: 18px;
}

button{
    margin-top: 10px;
    cursor: pointer;
    color: rgb(244, 244, 244);
    background: rgb(109, 38, 62);
    padding: 5px;
    border-radius: 7px;
    width: 120px;
}

button:hover{
    padding: 7px;
}

aside{
    color: #f4f4f4;
    margin-top: 16px;
    padding: 10px;
}

.filtro ul{
    list-style: none;
}

.filtro a{
    text-decoration: none;
    color: #652c3e;
}

footer{
    color: rgb(255, 255, 255);
    background: rgb(109, 38, 62);
    padding: 40px 0px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0px auto;
}

.rodape {
    display: flex;
    gap: 300px;
}

.rodape2_0 {
    display: flex;
    flex-direction: column;
}

.redesSociais {
    display: flex;
    gap: 15px;
}

.redesSociais a{
    text-decoration: none;
    color: #f4f4f4;
}

.direitos{
    margin-top: 70px;
}

@media(max-width:768px){
    header nav {
        display: flex;
        flex-direction: column;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    header nav ul li{
        font-size: 2.0rem;
        text-align: center;
    }

    #conteudo{
        grid-template-columns: 1fr;
    }

    aside{
        display: none;
    }

    header input{
        text-align: center;
        width: 100%;
        border-radius: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        max-width: 100%;
    }

    .rodape {
        display: flex;
        gap: 10px;
    }
    
    
      .redesSociais {
        display: inline-block;
        margin: 0 0.5rem;
        width: 100%
    
      }
    }