* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}

header {
    background: #6d263e;
    padding: 20px;
    color: #f4f4f4;
    display: flex;
    justify-content: space-around;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header ul li a:hover {
    text-decoration: underline 5px #36131f;
}

header ul li input {
    padding: 5px;
    border-radius: 10px;
}

#conteudo {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vinhos {
    width: 200px;
    height: 400px; 
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-image: linear-gradient(#652c3e,#2a0000,#48161f);
    color:#fff;
    border-radius: 30px;
}

.vinhos img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.preco {
    color: #efc3cd;
    margin-top: 20px;
    font-size: 30px;
}

